name: Build → Push → Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Docker Login
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Image
      run: |
        IMAGE=${{ secrets.DOCKER_USERNAME }}/ecom-app:${{ github.run_number }}
        docker build -t $IMAGE .
        echo "IMAGE=$IMAGE" >> $GITHUB_ENV

    - name: Push Image
      run: docker push $IMAGE

    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f k8s/ -n ecom
        kubectl set image deployment/ecom-deployment ecom=$IMAGE -n ecom
        kubectl rollout status deployment/ecom-deployment -n ecom
